@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url("../fonts/open-sans-v35-latin-regular.eot");
  src: url("../fonts/open-sans-v35-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v35-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v35-latin-regular.woff") format("woff"), url("../fonts/open-sans-v35-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v35-latin-regular.svg#OpenSans") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url("../fonts/inter-v12-latin-regular.eot");
  src: url("../fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin-regular.woff") format("woff"), url("../fonts/inter-v12-latin-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin-regular.svg#Inter") format("svg");
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../fonts/FONTSPRINGDEMO-CeraRoundProBlackRegular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
  padding: 15px;
}

body {
  font-family: "Open Sans";
  color: #ffffff;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  margin-left: 40px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  border: 1px solid #FFFFFF;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #ffffff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
header {
  padding-bottom: 237px;
  background-color: #BB2339;
}
header nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
}
header nav .navbar__menu {
  min-width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
}
header nav .navbar__menu-burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
  column-gap: 40px;
}
header nav .navbar__menu-burger--list {
  list-style: none;
}
header nav .navbar__menu-burger--link {
  padding: 39px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-decoration: none;
}
header nav .navbar__menu-burger--link:hover {
  border-bottom: 2px solid rgb(187, 187, 0);
}
header nav .navbar__menu .borWBtn {
  margin-left: 40px;
  padding: 10px 40px;
  min-width: 131px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
}
header .hero {
  margin-top: 80px;
  background-image: url(../images/hero-bg1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  background-position-y: center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  header .hero {
    background-image: url("../images/hero-bg2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: default;
  }
}
header .hero__desk-topTitle {
  font-family: "Cera Round Pro";
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
header .hero__desk-mainTitle {
  margin: 25px 0 20px 0;
  max-width: 555px;
  font-family: "Cera Round Pro";
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
header .hero__desk-text {
  margin-bottom: 40px;
  max-width: 453px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  opacity: 0.7;
}
header .hero__desk .borWBtn {
  padding: 10px 40px;
  min-width: 131px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
}

section {
  padding-top: 120px;
  background-color: #f8f8f8;
}
section .popular__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
}
section .popular__navbar-title {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #BB2339;
}
section .popular__navbar-flexBox {
  display: flex;
  align-items: center;
  justify-content: default;
  flex-direction: default;
  column-gap: 20px;
}
section .popular__navbar-flexBox--nextBtn {
  padding: 9px 15px;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid #646464;
  border-radius: 6px;
  font-size: 26px;
  font-weight: 500;
  color: grey;
  background-color: transparent;
  box-shadow: 0 8px #999;
}
section .popular__navbar-flexBox--nextBtn:hover {
  border: 1px solid #BB2339;
  background-color: #9d4545;
  color: #242424;
}
section .popular__navbar-flexBox--nextBtn:active {
  background-color: #BB2339;
  color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
section .popular .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
  margin: 40px 0 71px;
}
section .popular .cards__item {
  background-color: #ffffff;
  padding: 40px 20px;
}
section .popular .cards__item-bg {
  background-image: url(../images/klipartz.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 183px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  section .popular .cards__item-bg {
    background-image: url("../images/klipartz1@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: default;
  }
}
section .popular .cards__item-bgp {
  background-image: url(../images/pizza1.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 183px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  section .popular .cards__item-bgp {
    background-image: url("../images/pizza2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: default;
  }
}
section .popular .cards__item-bgb {
  background-image: url(../images/burger1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 183px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  section .popular .cards__item-bgb {
    background-image: url("../images/burger2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: default;
  }
}
section .popular .cards__item-bgf {
  background-image: url(../images/fri1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 183px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  section .popular .cards__item-bgf {
    background-image: url("../images/fri2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: default;
  }
}
section .popular .cards__item-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section .popular .cards__item-block--title {
  max-width: 270px;
  color: #242424;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
section .popular .cards__item-block--favo {
  margin: 20px 0;
  max-width: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
}
section .popular .cards__item-block--favo .star {
  cursor: pointer;
  fill: #c1c1c1;
}
section .popular .cards__item-block--favo .star:hover {
  fill: yellow;
}
section .popular .cards__item-block--favo .fillColor {
  fill: #FFEA28;
}
section .popular .cards__item-block--price {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #BB2339;
}
section .popular__icon {
  width: 93px;
  margin-bottom: -62px;
  margin-left: 1213px;
}

/*# sourceMappingURL=main.css.map */
