@use'./variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1315px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    font-family: variables.$body-font;
    color: variables.$main-color;
}