@use'../variables';
@use'../mixins';

header{
    padding-bottom: 237px;
    background-color: variables.$diff-color;
    nav{
        .navbar{
            @include mixins.flexbox(center, space-between);
            &__menu{
                min-width: 35%;
                @include mixins.flexbox(center, space-between);
                &-burger{
                    @include mixins.flexbox(center, space-between);
                    column-gap: 40px;
                    &--list{
                    list-style: none;
                    }
                    &--link{
                    padding: 39px 0;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.04em;
                    color: variables.$main-color;
                    text-decoration: none;
                    }
                    &--link:hover{
                        border-bottom: 2px solid rgb(187, 187, 0); 
                    }
                }
                .borWBtn{
                    margin-left: 40px;
                    @include mixins.borWBtn();
                }
            }
        }
    }
    .hero{
        margin-top: 80px;
        background-image: url(../images/hero-bg1x.png);
        background-repeat: no-repeat;
        background-size:contain;
        background-position-x: 100%;
        background-position-y: center;
        @include mixins.bgformat-2x('../images/hero-bg2x.png', cover);
        &__desk{
            &-topTitle{
                font-family: variables.$title-font;
                font-weight: 700;
                font-size: 23px;
                line-height: 130%;
                letter-spacing: 0.04em;
                text-transform: capitalize;
            }
            &-mainTitle{
                margin: 25px 0 20px 0;
                max-width: 555px;
                font-family: variables.$title-font;
                font-weight: 700;
                font-size: 90px;
                line-height: 130%;
                letter-spacing: 0.04em;
                text-transform: capitalize;

            }
            &-text{
                margin-bottom: 40px;
                max-width: 453px;
                font-weight: 400;
                font-size: 16px;
                line-height: 175%;
                letter-spacing: 0.04em;
                opacity: 0.7;
            }
            .borWBtn{
                @include mixins.borWBtn();
            }
        }
    }
}